doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Serien Katalog
    link(rel='stylesheet' href='styles.css')
    // External packages
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='/index.js')
body(onload='onLoadHomePage()' onpageshow='onLoadHomePage()')
    main
        form#searchbar
            label(for='search') Suchen: 
            input#search(type='text')
            input(type='submit')
        h1 Serien Katalog
        h2 Meist Besucht (Top 3)
        div(id='most-visited')
        h2 Serien
        div
            each show, showId in shows
                div(id=`preview-card-${showId}`).PreviewCard
                    a(href=`serien/${showId}.html`)
                        h3 #{show.name}
                        div.PreviewCard__Row
                            img(src=`${show.imageURL}`)
                            ul
                                li
                                    span Staffel 
                                    span #{show.series}
                                li
                                    span Folgen 
                                    span #{show.episodes}
                                li
                                    span Bewertung 
                                    span #{show.score.avgRounded}/10
                    button(class=`toggle-favorite-btn-${showId}`).PreviewCard__Btn Favorit ...
        script(src='/index.js')
