doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Serien Katalog
    link(rel='stylesheet' href='styles.css')
    // External packages
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='/index.js')
body(onload='onLoadHomePage()')
    form#searchbar
        label(for='search') Suchen: 
        input#search(type='text')
        input(type='submit')
    h1 Serien Katalog
    div
        each show, showId in shows
            a(id=`${showId}` href=`serien/${showId}.html`)
                img(src=`${show.imageURL}`)
                h3 #{show.name}
                ul
                    li
                    span Staffel 
                    span #{show.series}
                    li
                    span Folgen 
                    span #{show.episodes}
                    li
                    span Bewertung 
                    span #{show.score.avgRounded}/10
            button(id=`toggle-favorite-btn-${showId}2`) Favorit ...
    script(src='/index.js')
