// Arbeit von Oscar
// ----------------
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title #{name}
  link(rel='stylesheet' href='../styles.css')
  link(rel='stylesheet' href='styles.css')
  // External packages
  script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
  script(src='/index.js')
body(onload=`onLoadSeriesPage('${id}')`)
  main
    iframe.Trailer(src=`${embeddedTrailerURL}`)
    h1.Title #{name}
    .Description
      | #{description}
    table#ratingTable.Scores
      tr
        th Kriterium
        th Bewertung
      tr
        td &Auml;sthetik
        td #{score.aesthetics}/10
      tr
        td Geschichte
        td #{score.plot}/10
      tr
        td Charaktere
        td #{score.characters}/10
      tr
        td Gesamtbewertung
        td #{score.total}/#{score.maxTotal}
    button(class=`toggle-favorite-btn-${id}`).FavoriteBtn Favorit ...
    div.Comments
      form(id='new-comment-form').Comments__New
        textarea(id='new-comment', type='textarea', cols="30", rows="10").Comments__New__Textarea
        input(type='submit', value="Kommentar hinterlassen").Comments__New__Btn
      div(id='comments').Comments__Old